* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #ccc;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page {
    width: 500px;
    height: 650px;
    padding: 20px;
    background-color: #fff;
    border-left: 20px solid rgb(68, 73, 92);
    transform: rotate(-45deg) skewX(10deg) scale(0.8);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.page p {
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}

.page h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    position: relative;
}

.page h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 22.2%;
    border: 2px solid rgb(71, 78, 100);
    padding: 0px 120px;
}

.page:before {
    content: '';
    width: 30px;
    height: 100%;
    background-color: rgb(71, 78, 100);
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skewY(-45deg) translate(-50px, -36px);
}

.page::after {
    content: '';
    height: 30px;
    width: 104.5%;
    background-color: #ccc;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: skewX(-45deg) translate(-5px, 30px);
}

a {
    text-decoration: none;
    padding-right: 5px;
    color: rgb(63, 78, 126);
    transition: background-color 0.5s;
}

a:hover {
    border-radius: 15px;
    padding: 0px 5px;
    border: 2px solid rgba(142, 154, 192, 0.5);
}

h1 a {
    color: rgb(74, 77, 97);
}

h1 a:hover {
    color: #524e4e;
    padding: 0px 15px;
}

::selection {
    background-color: rgb(188, 199, 235);
}